.step-form__content {
  flex: 1 0 70dvh;
  width: 95%;
  border-radius: 1rem;
  background-color: var(--secundary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}
.step-form__fields-wrapper {
  flex: 1 1 65dvh;
  display: flex;
}
