.main {
  flex: 1 1 80%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
}
.mapWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
