.court-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  border-radius: 1.2rem;
  height: 30rem;
  color: var(--text);
}
.court-card__header {
  position: relative;
  flex: 2 1 80%;
}
.court-card__img-container {
  height: 100%;
  width: 100%;
}
.court-card__img-container img {
  height: 100%;
}
.court-card__info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.court-card__text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--secundary);
  border-radius: 1rem;
  gap: 0.8rem;
  padding: 1rem 1.2rem;
  align-items: center;
  height: fit-content;
}
.court-card__text-wrapper::before {
  content: "";
  display: block;
  background-color: var(--ternary);
  width: 100%;
  height: 0.2rem;
  order: 2;
}
.court-card__name {
  font-family: var(--black-hans);
  font-size: 2rem;
  width: 100%;
  order: 1;
}
.court-card__location {
  width: 100%;
  order: 3;
}
.court-card__location p {
  font-size: 1.3rem;
  width: 100%;
}
.court-card__rating {
  background-color: var(--secundary);
  border-radius: 1rem;
  align-self: self-start;
  font-size: 2rem;
  padding: 1rem 1.2rem;
  font-family: var(--black-hans);
  align-self: self-end;
}
.court-card__footer {
  flex: 0 0 auto;
  border-top: 0.6rem solid var(--accent);
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.7rem;
  background-color: var(--secundary);
}
.court-card__level {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.court-card__level span {
  font-size: 1.8rem;
  font-family: var(--black-hans);
}
