.navbar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secundary);
  width: 80%;
  max-width: 50rem;
  height: auto;
  border-radius: 2rem;
  z-index: 100;
}
.navbarWrap {
  padding: 1rem 0.5rem;
}
.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbarLinkItem {
  padding: 0.5rem 1.5rem;
}
.navbarLinkItemActive {
  background-color: var(--accent);
  border-radius: 1.5rem;
}
.navbarIcon {
  /* fill: var(--color-white); */
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--ternary);
}

.navbarLinkItemActive .navbarIcon {
  fill: var(--secundary);
}

.navbarIcon:hover {
  fill: var(--text);
}
