.navbar {
  flex: 0 0 auto;
}
.navbarWrap {
  padding: 0.5rem 0;
  border-radius: 2rem;
  max-width: 50rem;
  background-color: var(--secundary);
  margin: 0 auto 1rem auto;
}
.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbarLinkItem {
  padding: 0.5rem 1.5rem;
}
.navbarLinkItemActive {
  background-color: var(--accent);
  border-radius: 1.5rem;
}
.navbarIcon {
  /* fill: var(--color-white); */
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--ternary);
}

.navbarLinkItemActive .navbarIcon {
  fill: var(--secundary);
}

.navbarIcon:hover {
  fill: var(--text);
}
