.btn {
  align-self: center;
  cursor: pointer;
  color: var(--ternary);
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-family: var(--black-hans);
  text-transform: uppercase;
}

/* states */
.btn:active,
.btn--link:hover {
  transform: scale(1.1);
}

/* Variants */
.btn[data-variant="primary"] {
  background-color: var(--accent);
  color: var(--ternary);

  transition: transform 0.2s linear;
}
.btn[data-variant="primary"]:hover {
  color: var(--secundary);
}

.btn[data-variant="secundary"]:hover {
  color: var(--accent);
}

.btn[data-variant="map-control"] {
  background-color: var(--secundary);
  color: var(--ternary);
}
.btn[data-variant="map-control"]:hover {
  color: var(--accent);
}
.btn[data-variant="map-control map-control--active"] {
  background-color: var(--accent);
  color: var(--secundary);
}

.btn--link {
  text-decoration: underline;
}
.btn--link:hover {
  color: var(--text);
}
